.logo-container {
	margin: 54px;
	.logo img {
		width: 100px;
		margin-left: 28px;
	}
	.text-logo{
		padding-top: 10px;
		font-size: 23px;
		font-weight: bold;
		font-family: "Karma", sans-serif;
	}
	
}
